[2018-04-05 16:15] kinglozzer opened #1 "Implement model-level permissions"

[2018-04-05 16:16] kinglozzer opened #2 "Garbage collection"
Must remove:

- Expired, non-persisted login sessions
- Persisted login sessions where associated `RememberLoginHash` has expired

Could remove:

- Expired `RememberLoginHash`

[2018-04-05 16:17] kinglozzer opened #3 "Test coverage"

[2018-04-05 16:23] kinglozzer opened #4 "Add PSR-4 path to composer.json"
Duh 🤦‍♂️

[2018-04-05 16:31] kinglozzer opened #5 "Extensibility"
Totally not stealing ideas from Github... but some sites might want to store a rough location. That should be possible somehow

[2018-05-11 14:12] #1 closed

[2018-05-11 15:26] #2 closed

[2018-05-11 15:29] #4 closed

[2021-01-21 08:51] madmatt opened #8 "Medium to long term: Reduce reliance on User-Agent"
Per a few sources, Chrome (and likely other browsers) will be dropping support for the `User-Agent` header, and replacing it instead with Client Hints: https://github.com/WICG/ua-client-hints

[2021-02-01 22:02] sunnysideup opened #10 "add description to composer.json"

[2021-02-02 01:16] brynwhyman opened #11 "Scaffold SessionManagerField"
### Overview
Perquisite work to build out a new CMS component to display session data in the Member admin UI.

See https://github.com/silverstripe/silverstripe-session-manager/issues/12 for the designs and more details.

### Acceptance Criteria

- [x]  Set up build tooling
    - Base configuration on [Module Template](https://github.com/silverstripe/silverstripe-module)
    - Use current release o

[2021-02-02 01:23] brynwhyman opened #12 "Render list of Sessions"
### Overview
With the scaffolding work complete in https://github.com/silverstripe/silverstripe-session-manager/issues/11, now the field needs to be filled with Session data.

### Acceptance Criteria
- [x]  Pass session list for given Member to SessionManagerField through schema
- [x]  Render sessions based on [designs](https://projects.invisionapp.com/share/ANZZEC4XUTQ#/screens/439163639_CMS_-_Lo

[2021-02-02 01:29] brynwhyman opened #13 "Allow removal of non-current Sessions"
### Overview
This covers the CMS action to log out of non-current sessions.

### Acceptance Criteria
- [x]  Create API endpoint on SessionManagerField to remove sessions
- [x]  Add Log out action to non-current sessions as per [designs](https://www.notion.so/Session-Management-UI-Tasks-dee403ae79664f35b5f6d0e8a4a94393)
- [x] The session details for a device is removed when the log out action happe

[2021-02-02 01:32] brynwhyman commented on #12
@clarkepaul, FYI the module is already storing the 'signed in' timestamp as well as the 'last accessed' timestamp. Maybe that would be useful here? See: [screenshot of current behaviour](https://github.com/silverstripe/silverstripe-session-manager/blob/1/images/cms.png)

[2021-02-02 19:47] brynwhyman opened #14 "View permissions in Member UI"
### Overview
With a new component being added to the Member UI, it's being set up so that a user can only see their own details - permissions with access to other member profiles will not be able to see this component.

This issue covers how someone with escalated permissions might be able to interact with another user's session information. E.g.:
- View all saved sessions
- Able to use the 'log o

[2021-02-02 19:50] brynwhyman opened #15 "Create user help documentation"
~**Blocked until https://github.com/silverstripe/silverstripe-framework/issues/9883 is merged** - we need finalised UI before we can describe it and take screenshots~

### Overview
The new designs include a 'Learn more' link in the CMS UI.
Some [user help documentation](https://userhelp.silverstripe.org/en/4/optional_features/managing_devices/) needs to be written and the button in the CMS created

[2021-02-10 00:27] Cheddam opened #19 "Session Manager breaks in unit testing environments"
The Session Manager module currently breaks a lot of other test suites when it's installed, as it incorrectly assumes that a `HTTPRequest` object will always be passed to the `AuthenticationHandler::logIn()` method. I don't think the module can safely operate _without_ the information in the request, so there might be two patches to apply:

- Throwing an Exception when a `HTTPRequest` object isn't

[2021-02-15 08:38] bergice opened #20 "Auditing"
# Overview

We should log more information to retain after-the-fact diagnostic abilities, e.g. to trace back potentially malicious behaviour.

# Acceptance Criteria

* Recommend using the module in tandem with silverstripe/auditor (suggested composer requirement?)
    * Send that module additional events when it is present
* Log the following events
  - Purging sessions
  - 'Remember me' logins (p

[2021-02-17 22:10] #19 closed, assigned to Cheddam

[2021-02-17 22:11] Cheddam commented on #3
Fixed in #18.

[2021-02-17 22:11] #3 closed

[2021-03-01 20:02] brynwhyman commented on #14
This one needs a bit more thought before we proceed with grooming. See @clarkepaul's comments in https://github.com/silverstripeltd/product-issues/issues/345#issuecomment-787533096

[2021-03-01 23:17] brynwhyman opened #22 "New queued job"
### Overview
Garbage collection was recently moved to a crontask for the session manager module, see https://github.com/silverstripe/silverstripe-session-manager/pull/9

This relies on the silverstripe/contask module being installed, which isn't a commonly used module, compared to symbiote/queuedjobs.

For all sites, a new queued job should be created and added on dev build to ensure the garbage c

[2021-03-01 23:17] brynwhyman commented on #22
From @maxime-rainville :

- https://packagist.org/packages/symbiote/silverstripe-queuedjobs/stats
- https://packagist.org/packages/silverstripe/crontask/stats
On our platforms, crontask actually has more installs than queued jobs. 754 vs 648

On the note of: "Validate that the crontask isn't required", there are other modules that I expect suggest the use of queuedjobs but don't enforce it - we sh

[2021-03-01 23:18] emteknetnz commented on #22
CWP Kitchen Sink module usage of queuedjobs vs crontask where both are required. Analysis of composer.lock:

### symbiote/silverstripe-queuedjobs

**require**
- bringyourownideas/silverstripe-composer-security-checker
- bringyourownideas/silverstripe-maintenance
- cwp/cwp-recipe-search
- silverstripe/gridfieldqueuedexport
- silverstripe/ldap
- symbiote/silverstripe-advancedworkflow

**suggest:**
-

[2021-03-02 20:12] #11 closed, assigned to nobody

[2021-03-02 20:13] Cheddam commented on #11
Shifted final AC regarding position of field to #12. The scaffolding PR will be merged alongside the PR for that issue.

[2021-03-02 21:14] brynwhyman opened #23 "Compatibility with SSO modules"
### Overview
At this stage the compatibility of this module with common SSO modules is unclear.

Raising this issue to do some testing and record the results.

SSO modules in scope (CMS4 compatibility only):
* https://github.com/silverstripe/silverstripe-ldap
* https://github.com/silverstripe/silverstripe-saml

### ACs
- [ ] Testing occurs on a projects using the modules above
- [ ] Test scenarios

[2021-03-02 23:56] bergice commented on #12
Just noting that the "Signed in" information will not be visible with the new designs:
![image](https://user-images.githubusercontent.com/541886/109731261-cb34d600-7c1f-11eb-9647-5ac307c1a112.png)

May be worth adding this again.

Thoughts @clarkepaul ?

----

It's also worth noting that these changes may cause more of a maintenance burden in the long run as we are essentially replicating what the

[2021-03-04 02:45] clarkepaul commented on #12
All valid points. The designs were done to align with the managing of MFA methods and were done prior to me seeing a screenshot of this module (I thought it was needing to be a new UI). I haven't personally stepped through that experience e.g. what happens with revoking sessions and notifications but I think its worth another conversation around whether its worth creating a new UI when this might

[2021-03-09 23:09] brynwhyman commented on #12
I recall there being a bit of back and forth on whether that was something the team saw value in. It was purposefully omitted from the designs. We were not sure at the time of grooming so added the following AC to cover discussion on the topic:
* It's been reviewed if there's usefulness in including a timestamp related to the current session data.

In regards to an MVP, the scaffolding and UI is i

[2021-03-09 23:17] brynwhyman commented on #12
I've also noted this in the issue on [2 Feb](https://github.com/silverstripe/silverstripe-session-manager/issues/12#issuecomment-771281383)

[2021-03-09 23:42] brynwhyman opened #37 "Confirmation action before revoking session?"
### Overview
Logging out of an existing session (from another device) could result in unsaved data being lost. Do users need a confirmation action, or some other warning before they choose to revoke a session?

From @clarkepaul in

Based on those comments. Let's use this issue to review other implementations of a similar feature and make a decision if this is something we need

### Acceptance Crit

[2021-03-09 23:54] brynwhyman commented on #14
Copied from: https://github.com/silverstripeltd/product-issues/issues/345

From @clarkepaul :

[2021-03-09 23:54] brynwhyman commented on #14
I agree. In an emergency situation where a user's CMS account has been compromised by a malicious person it's too late for someone else to revoke all existing sessions, as a malicious person could already have changed the password, or created a new account.

In another scenario, if a device is no longer in a user's control (i.e. lost), they still have the option of logging into another device and

[2021-03-10 01:25] clarkepaul commented on #12
I've just seen the UI in a live demo, I think we can follow the provided designs with some minor tweaks to allow the full date to show on hover if its an easy thing to do. If that is difficult then I think its fine to leave to leave the Signed in date out. I did this quick screen shot to show how it could be done but will update the design accordingly. I also mentioned BS tooltips are nicer than t

[2021-03-10 01:56] clarkepaul commented on #12
... and on the current view swap the order of "Current" and 'IP" so it matches the other sessions. Just going to add dates to design for signed in on the current session to see if it's good or not.
![image](https://user-images.githubusercontent.com/555033/110563549-5bd75d00-81b0-11eb-8e63-cea0cb91479f.png)

[2021-03-10 03:39] emteknetnz opened #38 "Tidyup PR + template PR review"
Peer review + merge the following two PRs.  They're both fairly straight forward

- [x] https://github.com/silverstripe/silverstripe-session-manager/pull/24
- [x] https://github.com/silverstripe/silverstripe-session-manager/pull/36

[2021-03-10 04:03] brynwhyman commented on #15
I can't find docs on how to get the docs appearing in userhelp.silverstripe.org, but here's at least one thing that's required: https://github.com/silverstripe/silverstripe-mfa/commit/03e70007a577ef56c4b2e97bd573437d83585db3

[2021-03-11 22:01] emteknetnz commented on #13
Fiarly significant issue to solve where reverting a session also logs out the current session:

Replication steps:
1. Login as an admin using firefox (primary browser)
2. Login as the same admin using chrome ("rogue login" browser)
3. Using firefox, revoke the chrome session
4. Refresh chome - now logged out - good
5. Refresh firefox - now logged out - bad

I got the same issue using the ui-render

[2021-03-11 22:35] emteknetnz commented on #13
Have confirmed that change the config value of `RememberLoginHash.logout_across_devices` from `true` to `false` fixes this behaviour

At first it seems like a good solution here would be to update the session-manager remove endpoint to temporarily force the config value to 'false', perform the  then revert it back to whatever it was beforehand

However I tried this and it does not work

A very wei

[2021-03-14 21:41] emteknetnz commented on #13
OK, it's not really concerning, they flow is:

Firefox - revoke session
Chrome - refresh
- LoginSessionMiddleware::process():33
- RequestAuthenticationHandler::logout():83
- CookieAuthenticationHandler::logout():251
- RememberLoginHash::clear():183 ($alcDevice = null)

All that's happening is the RememberLoginHash is being cleared almost as a clean up task after the login session was previously cl

[2021-03-15 01:44] emteknetnz commented on #13
I've investigated this quite a bit.  I think we should simply remove anything to do with `RememberLoginHash::logout_across_devices` from the session manager module

This line specifically is what's causing the issues:
https://github.com/silverstripe/silverstripe-session-manager/blob/1/src/Security/LogOutAuthenticationHandler.php#L44

I don't think that "logout across devices" has anything to do wi

[2021-03-15 03:04] #22 closed, assigned to bergice

[2021-03-15 03:15] clarkepaul commented on #12
Just posted an update of the [designs](https://projects.invisionapp.com/share/ANZZEC4XUTQ#/screens/439163639_CMS_-_Login_-_Session_Management_-_Remove_A_Device_-_List) @bergice, basically a catchup of designs already discussed hopefully. Some new stuff with the section label and logout action.

For the section label, I've taken a look around to see what would make the most sense to people and thin

[2021-03-23 04:28] #12 closed, assigned to nobody

[2021-03-24 04:22] emteknetnz opened #41 "Date formatting and authenticated hours"
2 issues:
- Tooltip times are formatted in US time m/d/y despite being in nz locale
- "authenticated in 13 hours..." is nonsensical, no idea what this is supposed to mean.  Timing wise I had logged in within the previous hour.

![image](https://user-images.githubusercontent.com/4809037/112254326-4b9da280-8cc5-11eb-97bb-e954f6012453.png)

![image.png](https://images.zenhubusercontent.com/5dcb6f9e3c

[2021-03-28 22:04] emteknetnz opened #42 "Folder/namespace renaming"
Should do this close to the conclusion of the feature dev so as not to cause any merge conflicts with open PRs

### ACs
- [x] Move contents of `Extension` folder to the `Extensions` folder and ensure namespace matches
- [x] Pluralise the following folders/namespaces to match the other folders - FormField, Job, Model, Service
- [x] Create Controllers folder, move LoginSessionController there, updat

[2021-03-28 23:38] emteknetnz opened #43 "Storybook does not work - regeneratorRuntime"
Removing this line of code from LoginSession.js breaks storybook:

`import 'regenerator-runtime/runtime';`

Omitting this line does not break the frontend code, only storybook

![image](https://user-images.githubusercontent.com/4809037/112771846-502dd680-908a-11eb-840e-880e2a0ec754.png)

This method of importing (similar to a php `include` statement) is pretty non-standard in our codebase and will

[2021-03-29 00:51] emteknetnz commented on #43
Sorted by properly including `babel-runtime` as dependency and `babel-plugin-transform-runtime` as a --dev dependency, and updated `.babelrc` to include the plugin

[2021-03-29 00:51] #43 closed, assigned to nobody

[2021-03-29 03:05] #38 closed, assigned to bergice

[2021-03-29 04:09] emteknetnz opened #44 "JS files uses both 2 and 4 space indents"
LoginSession.js + SessionManagerField.js both uses a weird combination of 2 and 4 spaces for indents

They should only use a 2 space indent

### ACs
- [x] Add an entry in .editorconfig for js indent size
- [x] Reformat and js files to get the correct indent size
- [x] Check to ensure that all relevant JS files were updated (including jest tests, storybook, etc)
~~- [ ] Unit tests fail when the ind

[2021-03-29 04:17] emteknetnz opened #45 "Refactor http response codes + unit tests to LoginSessionController"
Code is currently missing http response codes and specific unit tests

### ACs
- [x] Remove success boolean and replace with http response codes
- [x] Ensure LoginSessionController is covered by unit tests (it currently has none)

### Notes
Missing http response codes as mentioned in [this pr](https://github.com/silverstripe/silverstripe-session-manager/pull/39)
- https://github.com/silverstripe/s

[2021-03-29 09:03] #20 closed, assigned to bergice

[2021-03-30 01:35] brynwhyman opened #46 "Able to revoke single sessions"
### Overview
It is not possible to invalidate a single session with this module.

#### Replication steps
- I've got a Chromium session and Firefox session.
- In Firefox, I force logout my Chromium session through the session manager component.
- I refresh Firefox and I'm still logged in
- I go in Chromium and I refresh. I'm now logged out
- I go back to Firefox and refresh. I'm now logged out in F

[2021-04-01 00:24] emteknetnz commented on #41
I've implemented the work, however there's a catch, with NZ date style by changing the Members Interface Language to `English (United Kingdom)` the dates break over multiple lines

![image](https://user-images.githubusercontent.com/4809037/113226668-363ffe00-92ed-11eb-95df-414a300d83d7.png)

Unfortunately there's not a lot we can do about this.  Bad options are:
a) Put a line break in the english

[2021-04-06 01:00] clarkepaul commented on #41
d) leave it as is... I'm okay with it as is @emteknetnz, its a minor thing as it is still readable.

FYI @emteknetnz there is a quick way to break the line within a tooltip by adding `data-html="true"` then adding `<br>` between the dates.

[2021-04-08 01:59] emteknetnz opened #50 "Refactor LoginSessionContainer to be a functional component"
### PRs
- [x] https://github.com/silverstripe/silverstripe-session-manager/pull/48

[2021-04-08 03:18] emteknetnz commented on #41
@clarkepaul yes `data-html="true"` does work, however the problem is that the `<br>` is set within a translation string.  What this means is that this create a security hole where a malicious user could submit a translation string containing a `<script>` and an XSS payload in a foreign language via transfix which could possible not get detected when we pull the translation strings.

[2021-04-08 05:40] emteknetnz opened #53 "Enable npm on travis"
Ensure that NPM_TEST runs on travis

### PRs
- [x] https://github.com/silverstripe/silverstripe-session-manager/pull/54

[2021-04-08 10:37] clarkepaul commented on #41
@emteknetnz okay makes sense

[2021-04-08 21:39] maxime-rainville commented on #53
NPM test are now running

[2021-04-08 21:39] #53 closed, assigned to maxime-rainville

[2021-04-08 21:40] maxime-rainville commented on #13
The eagle has landed.

[2021-04-08 21:40] #13 closed, assigned to maxime-rainville

[2021-04-08 23:32] emteknetnz opened #55 "Set up transifex"
### PRs
- [x] https://github.com/silverstripe/silverstripe-session-manager/pull/49

[2021-04-08 23:41] #50 closed, assigned to nobody

[2021-04-09 00:55] emteknetnz commented on #46
## Map

Device A - logged in (current browser)
Device B - logged in (other browser)

### Scenario 1
_$logout_across_devices = true
session-manager not installed_

**When I log out of Device A, I am logged out of Device B**
- Device A - delete RememberLoginHash
- Device B - delete RememberLoginHash

### Scenario 2
_$logout_across_devices = false
session-manager not installed_

**When I log out of D

[2021-04-09 01:57] emteknetnz commented on #46
I looked at the [docs](https://github.com/silverstripe/silverstripe-session-manager/blob/1/README.md#logout-across-devices) in session-manager and there's a good point about users without CMS access.
Some silverstripe website allow users to log in which will create a record on the Member table. They'll never have access to session manager to revoke sessions.

[code]

Means that we should keep `log

[2021-04-09 02:11] emteknetnz commented on #46
The currently behaviour of logging out Device A after revoking Device B happens after you refresh Device B if it was revoked.  This is a really odd behaviour.  The logout happens via session-manager/LogOutAuthenticationhandler::logout()

I think we'll need to move some more or all of the logout logic in LogOutAuthenticationhandler::logout() to somewhere a bit closer to the LoginSessionController

[2021-04-10 02:05] emteknetnz commented on #55
Linked PR has been merged

[2021-04-10 02:05] #55 closed, assigned to nobody

[2021-04-12 03:41] brynwhyman opened #57 "Sessions should only be visible by owning user"
### Overview
A user should be the only one who can view and manage existing sessions.

Currently with this module installed, a user who has access to view other member profiles (like the default Administrator role) has the ability to view and manage their sessions. This shouldn't be the case.

### Acceptance Criteria
- [x] If you do not have access to view another user's member form then the sessi

[2021-04-12 04:17] emteknetnz commented on #46
I've got a [PR](https://github.com/silverstripe/silverstripe-session-manager/pull/56) up that changes the 'destroy all the login session on logout' functionality from testing if `logout_across_devices` is `true` to now "checking if the member has no admin access"

`logout_across_devices` is now totally decoupled from session-manager

[2021-04-12 05:42] emteknetnz commented on #57
[This code](https://github.com/silverstripe/silverstripe-session-manager/blob/1/src/Model/LoginSession.php#L176) in `LoginSession::handlePermission()` should probably be changed from

[code]

to

[code]

[2021-04-12 05:47] emteknetnz commented on #57
Probably worth updating following [code](https://github.com/silverstripe/silverstripe-session-manager/blob/1/src/Middleware/LoginSessionController.php#L51) in `LoginSessionController::removeLoginSession()`:

[code]
to
[code]

[2021-04-12 21:41] brynwhyman commented on #14
Hey @clarkepaul, the team has found that this functionality is actually already present. If you have access to the Security section (so can view member profiles) you have access to this.

![image.png](https://images.zenhubusercontent.com/5b17319354b51e4165e1fd0b/74c36604-5a6b-4a74-9018-2b53658b8cbe)

Based on the discussion on this issue I've assumed this isn't a desired feature and raised this is

[2021-04-13 03:13] emteknetnz opened #58 "Non admin users logout"
Split off from https://github.com/silverstripe/silverstripe-session-manager/issues/46

Support for non-admin users to logout, which was the original reason for referencing `logout_across_devices` in the session-manager module

### PRs
- [ ] https://github.com/silverstripe/silverstripe-session-manager/pull/56 (now closed)

[2021-04-13 03:35] emteknetnz commented on #46
I've split off the non-admin users scenario off to its own issues and pull-request

I've created a [new PR](https://github.com/silverstripe/silverstripe-session-manager/pull/59) for this issue that ignores the 'non-admin users' scenario.

Again, I've removed any reference to `logout_accross_devices` because I just think it shouldn't be here. I've tested that locally RememberLoginHashes are still r

[2021-04-13 04:49] brynwhyman commented on #58
@emteknetnz by 'non admin' users are you referring to users who have no access to the CMS (and their member UI)?

[2021-04-13 05:05] emteknetnz commented on #58
@brynwhyman that's correct

Typical way these types of members exist are for sites that allow website users to create an account via the frontend which will create a corresponding record in the Member table.  User can log into their account, but that's also on the website frontend, not the CMS.  This means the Member table will be shared by both CMS and website users.

I'm not sure what a scenario

[2021-04-13 07:23] maxime-rainville commented on #58
My general view is that we shouldn't officially support this use case, while not precluding devs from implementing it on their website. We don't provide any front features for Member management out-the-box.

There's some third party modules that allow you to implement front-end member areas with profile pages. e.g.
- https://github.com/ajshort/silverstripe-memberprofiles
- https://github.com/symbi

[2021-04-13 21:57] brynwhyman commented on #41
Fixed in https://github.com/silverstripe/silverstripe-session-manager/pull/52

[2021-04-13 21:57] #41 closed, assigned to maxime-rainville

[2021-04-14 01:40] maxime-rainville commented on #57
The current permission model is poorly implemented. `MemberExtension` has a bunch of logic to determine if the current user can edit and/or view the current session, but it completely bypasses `LoginSession::canView`/`LoginSession::canEdit` methods.

`MemberExtension` is also a `PermissionProvider` for `SESSION_MANAGER_ADMINISTER_SESSIONS`. If we want a permission provider, it should be on `LoginS

[2021-04-14 01:45] emteknetnz commented on #57
Looks good

How do you see this working?

[2021-04-14 01:51] maxime-rainville commented on #57
You would stick an extension on `LoginSession` an hook into the `canView`/`canDelete` extension points.

Maybe you use a pre-existing permission to decide if the user can delete the login session. Maybe you just check if the current user can edit the member. Maybe you implement your own permission provider. Ultimately, that's a decision the developer has to make for themselves.

We've got a follow

[2021-04-14 02:10] clarkepaul opened #60 "Improve fade-out of device session after device logout"
The collapsing of the device session info after you log out of a device is janky. It should be a fairly simple CSS fix.
My example of how it might be styled to get a nicer collapsing effect.
Note: I think using max-height is actually more recommended than using height so perhaps swap that out.

[My example for demonstration purposes](https://codepen.io/clarkepaul/pen/gOgegVO)

## Acceptance criter

[2021-04-15 08:43] maxime-rainville commented on #15
We're changing the link to https://userhelp.silverstripe.org/en/4/optional_features/managing_devices for now. https://github.com/silverstripe/silverstripe-session-manager/pull/62/files#r613873046

Might need to change to something else later on.

[2021-04-15 08:54] maxime-rainville opened #63 "UI edge cases are not accomodated"
The SessionLoginField doesn't currently cater to the following edge cases:
- Member without any LoginSession
- ReadOnly view
- LoginSession for which you do not have Delete rights

# Acceptance criteria
- [ ] If a site customises the can view permission on LoginSession, the Login Session field is displayed when you are allowed to view session for a given user.
- [ ] If you don't have permission to

[2021-04-15 08:59] maxime-rainville commented on #42
I've added an AC to remove the unused class `SilverStripe\SessionManager\Forms\GridFieldRevokeLoginSessionAction`

[2021-04-18 22:33] clarkepaul commented on #63
I think that for all those situations it makes sense. @maxime-rainville for these scenarios does the section appear as empty or is it completely removed?

I would imagine there would be a message saying there is no login sessions or that area would be completely missing. My preference is that the area is present with a message but that would mean potentially different messages for different cases

[2021-04-19 21:08] maxime-rainville commented on #63
TLDR None of those edge cases can be reached on a vanilla install of session manager, but it could be possible if third party dev give some members permissien to manage other users' sessions.

Once https://github.com/silverstripe/silverstripe-session-manager/pull/62 is merged, none of those scenarios will be possible in a vanilla install:
- "LoginSession for which you do not have Delete rights" wo

[2021-04-20 00:59] maxime-rainville opened #64 "Non perminent session appear individually"
# Steps to reproduce
- Open Chrome and Firefox
- Log into Chrome and Firefox without checking the "Remember me" checkbox
- Look at your browser sessions in Firefox ... you'll see a session for each browser
- Close and reopen chrome. You'll be logout of the site because your session was impermanent
- Log into chrome again
- Look at your sessions

Expected result: I only see one chrome and one firef

[2021-04-20 01:00] maxime-rainville commented on #64
@silverstripeux @brynwhyman  ^

[2021-04-20 22:29] brynwhyman commented on #64
Do we rely on the garbage collection task to remove these entries?

[2021-04-20 23:00] brynwhyman commented on #63
Noting that I don't see this issue being a priority to resolve before the initial beta/ stable release.

When docs are created in #57 that outline the possibility of altering the behaviour to give privileged users access to other user sessions, we could make the recommendation that both CanView and CanDelete permissions should be provided, as a read-only view is not supported.

[2021-04-20 23:02] brynwhyman commented on #57
I've made a suggestion in https://github.com/silverstripe/silverstripe-session-manager/issues/63 that we should recommend that if the behaviour is altered, the privileged user should get both CanView and CanDelete actions (given there's no read-only view).

[2021-04-20 23:16] maxime-rainville commented on #64
Looking at the Garbage collection service, it relies on `LoginSession::$default_session_lifetime` to decide if your session is inactive. That's set to an hour by default.

If you don't install/configure the queued job, you'll get this problem. If you restart your computer/browser you'll get this problem as well.

Looks like this bit of code is trying to mitigate this problem by returning only sess

[2021-04-20 23:56] brynwhyman commented on #64
Wait, I'm guessing that the garbage collection task should be deleting records for already expired sessions, and not be responsible for actually expiring the sessions. Is that right?

The readme covers this in a bit more detail too: https://github.com/silverstripe/silverstripe-session-manager#developer-details

More generally speaking, I think being able to link non-permanent sessions on the same

[2021-04-21 00:09] clarkepaul commented on #64
Thats going to cause concern for users when they see so many sessions active when a single device is used (probably worse than not showing any info at all). This is going to be something we really need to sort for this piece to be successful.

If we can't resolve technically (which I hope we can) I'm wondering if only displaying permanent sessions in the area we have designed makes sense, the othe

[2021-04-21 01:21] maxime-rainville commented on #64
I've confirmed that `Login::getCurrentSessions()` will only show non-permanent sessions if they have been active within the last hour. So it's unlikely you'll get into a situation where you have 5 entries for the same device ... unless you are opening and closing your browser like crazy.

But you might occasionally get 2 for a short while.

[2021-04-21 01:27] emteknetnz opened #65 "Set framework logout_across_devices to false if session-manager is installed"
The recommendation from the investigation on the framework issue regarding UX weaknesses of logging out across devices on https://github.com/silverstripe/silverstripe-framework/issues/9794 was that the default value of `RememberLoginHash` `logout_across_devices` should be changed from `true` to `false` if session-manager is installed

The original UX issue of `logout_across_devices` = `true` being

[2021-04-21 02:45] emteknetnz commented on #46
Closing as linked PR has been merged

Doc update is being handled on the yml change issue https://github.com/silverstripe/silverstripe-session-manager/issues/65

[2021-04-21 02:45] #46 closed, assigned to maxime-rainville

[2021-04-21 02:47] emteknetnz commented on #58
I'm closing this issue as it's unlikely to proceed

[2021-04-21 02:47] #58 closed, assigned to nobody

[2021-04-21 22:02] #57 closed, assigned to nobody

[2021-04-21 22:02] emteknetnz commented on #57
Linked PR has been merged

Noted on the pull request there's an issue with non-admin users revoking sessions.  We've agreed to split that of as a separate issue. https://github.com/silverstripe/silverstripe-session-manager/issues/67

[2021-04-21 22:06] emteknetnz opened #67 "Unable to revoke non-admin users"
Non-admin user isn't able to revoke their own sessions.

With a test user in the group "Content authors", when attempting to revoke a session I see a red toast "Could not log out of session. Try again later"

Originally noted on this pull-request https://github.com/silverstripe/silverstripe-session-manager/pull/62#issuecomment-823742134

### ACs
- [x] Non-admin users are able to revoke their own s

[2021-04-21 22:40] clarkepaul commented on #64
Okay so not as big of an issue then, if it's of concern you can still force log out of sessions. Think it would still confuse people if they tested the functionality and raise a few eyebrows.

[2021-04-21 23:44] maxime-rainville commented on #67
I've updated the ACs

I spent some time trying to solve this through #62. There's a couple thoughts:
- `LoginSessionController` is not covered by any unit test which is probably why we miss this for so long
  - Should test that any user can logout
  - Should test that the CSRF token is enforce
  - Should test the response code
- `DELETE admin/loginsession/remove/123` is a weird REST API call, it s

[2021-04-21 23:55] maxime-rainville commented on #64
One way we could solve this is to have a device ID for all sessions, even the none-permanent ones. When you come back after closing your browser, we don't let you back in but we can invalidate other sessions with the same device ID.

That's probably not a big change, but it is a somewhat intricate. So it wouldn't be trivial.

[2021-04-22 00:29] emteknetnz commented on #67
My preference is do it all and refactor the whole thing to make it more proper.  And of course there's no sane argument against "Do it right first time"

I'm just not sure the time investment is worth it at this stage in the project though?  Seems like the refactor itself could easily add several days once peer-review and testing is taken into consideration?

Other than "code less bad" what's the

[2021-04-22 02:02] maxime-rainville commented on #67
Obviously, I don't know that if we don't refactor this bit of the system, some horrible calamity will befall us. It's totally possible - even probable - that we could get away with the suggested MVP and never have to look at this bit of code ever again.

But it's worth pointing out that this refactor is relatively cheap right now:
- It's a very small piece of code that can easily be copy pasted in

[2021-04-22 04:43] brynwhyman commented on #64
Thanks for checking this again @maxime-rainville. I've updated the description to note this.

Agree that even if it's less likely, it could still be confusing to the user.

[2021-04-22 04:51] maxime-rainville commented on #65
All done

[2021-04-22 04:51] #65 closed, assigned to maxime-rainville

[2021-04-22 04:54] maxime-rainville commented on #63
A quick win could just be to not display logout session when the field is read-only. That's probably a 1-2 point job and would lead to less confusion than having some convoluted explanation in the doc.

[2021-04-23 03:22] brynwhyman commented on #14
Closing, see: https://github.com/silverstripe/silverstripe-session-manager/issues/57

[2021-04-23 03:22] #14 closed, assigned to nobody

[2021-04-27 02:36] brynwhyman commented on #64
I've just come across this on GitHub, so it's not abnormal. One notable difference with their view is they title the information as 'Sessions', not 'Devices'.

Screenshot:

![image](https://user-images.githubusercontent.com/15868440/116176217-e0cd0480-a765-11eb-9505-6077c040fd88.png)

[2021-04-27 03:19] emteknetnz commented on #64
Funnily enough the say both - "list of devices" then in the next sentence "revoke any sessions" - heh :-)

Agree that 'sessions' is the safer word and more technically correct term to here rather that 'devices'.  I think we could probably just make this text change and avoid having to do an overhaul on the internals of session manager

[2021-04-27 05:23] brynwhyman commented on #64
Agreed. I talked to @clarkepaul and he liked the UI idea. [I've spun up a separate issue to talk about that](https://github.com/silverstripe/silverstripe-session-manager/issues/69)...

Back to this issue though. @maxime-rainville I can't recreate your issue using _just Chrome_ (I don't have access to Firefox right now, but I don't expect using that as well would make a difference?). @bergice [repo

[2021-04-27 05:28] brynwhyman opened #69 "Reference 'sessions' not 'devices'"
## Overview
There is some expected overlap between the phrases 'sessions' and 'devices' when looking at this feature. We need to use both terms to paint a clear picture of what's happening. Upon reviewing the current UI, there has been some discussion on tweaking the use of these terms slightly.

At a high-level, it's suggested that we refer to the information and frame it as a 'session', not a 'd

[2021-04-27 05:29] brynwhyman commented on #69
cc @clarkepaul do you want to chime in with your thoughts on this one?

[2021-04-27 05:33] brynwhyman commented on #69
This view from GitHub sparked the conversation:
![image](https://user-images.githubusercontent.com/15868440/116190375-a6bc2c80-a77e-11eb-92d6-c345969aaa30.png)

[2021-04-27 05:34] michalkleiner commented on #69
If there's a note somewhere at the beginning of the docs about what each of the terms means and that a single device can hold several sessions, then I'd prefer going with sessions wherever possible and contextually correct.

[2021-04-27 22:07] clarkepaul commented on #69
Referring to "Sessions" makes much more sense for the current functionality we currently have (I think the functionality is fine with a wording change). The easy call to make is changing the label of the section. Just having "Sessions" instead of "Authenticated devices" might be a little abrupt for our audience so playing with a few options, whatever it is I think it should be understandable if yo

[2021-05-03 00:16] maxime-rainville commented on #64
I use Chrome on Ubuntu to detect the issue: https://www.youtube.com/watch?v=n_kIXSlZ4dE.

I think MacOS might not technically close your browser when you close it ... it keeps it running in the background so it's faster to access the application again later on ... that probably keeps the session alive. Not sure what Windows will do in this situation. If you reboot your OS or if you force quite Chr

[2021-05-21 00:32] brynwhyman commented on #64
While testing the module I had another look at this issue. Seems like in my previous case the browser is just being smart.

Both Chrome and Safari store session cookie information even after a force quit in at least MacOS - that's using the default OS user profiles so it doesn't really require any extra set up from the user's end - I have a feeling most people would find themselves in this positio

[2021-05-21 00:34] brynwhyman opened #70 "Add the standard silverstripe commercially supported GH labels"
This repo is still using the default GH labels. We should update this to use the standard GH labels, as used on the commercially supported modules. There's more flexibility on adding 'impact' and 'effort' among other things!

[2021-05-21 00:44] ScopeyNZ commented on #70
`cow` does this: https://github.com/silverstripe/cow#synchronising-data-to-supported-modules

[2021-05-23 23:17] clarkepaul commented on #64
I don't see us getting around the issue of the incognito session showing up after the browser is closed. It's kind of expected if they haven't signed out, at least if they are concerned they can manually kill the session now.

[2021-05-24 23:57] dhensby commented on #64
To be honest, without user fingerprinting (which has privacy implications) or some other permanent cookie to identify a "device" (and thus de-dupe sessions), this isn't going to be possible to solve and I would say the current behaviour is expected.

[2021-05-25 00:35] michalkleiner commented on #64
~Websockets to replace the ping mechanism and remove the session when it's not active?~ Sorry, jumped the gun here.

[2021-05-25 04:57] maxime-rainville commented on #64
@brynwhyman I don't think the incognito session showing is a problem ... Incognito will blast whatever cookie gets created each time, so there's absolutely nothing we can do about that anyway.

The main problem I would see is someone rebooting their computer and seeing another session another session in there list.

[2021-06-08 23:02] bergice commented on #69
@clarkepaul I've gone with "Login Sessions" as you've suggested it and it's literally the name of the class that stores the data which will keep developers happy as well.

[2021-06-09 03:51] clarkepaul commented on #60
Seen the demo video and looks good cheers

[2021-06-09 04:06] #60 closed, assigned to clarkepaul

[2021-06-10 02:49] bergice commented on #15
I don't get this.
This is an optional module, and it's already documented on the module itself.

[2021-06-10 03:10] clarkepaul commented on #69
Cool, just make sure its lowercase 's' for Login **s**essions (sentence case)

[2021-06-10 21:20] #42 closed, assigned to bergice

[2021-06-14 00:42] clarkepaul commented on #15
I've just gone through and done a review of the user help guides, hit me up if you have any questions or problems with it.

[2021-06-14 02:14] #44 closed, assigned to bergice

[2021-06-15 21:44] #69 closed, assigned to nobody

[2021-06-15 22:11] brynwhyman commented on #15
Thinking about it a bit, I do feel like it could be too soon to make reference to session-manager in the core 'logging in' userhelp? The module is yet to go stable so it feels like it might just confuse people if they were to read it but don't have the feature?

When we move session manager to core, we'll definitely be updating the userhelp then.

In the meantime though, while we're hear I think t

[2021-06-15 22:22] clarkepaul commented on #15
Added another suggestion by Matt P

[2021-06-16 00:07] brynwhyman opened #79 "Remove revoke confirmation modal"
There have been prior decisions made to not require a confirmation modal at the time that a user requests to revoke a session, see: https://github.com/silverstripe/silverstripe-session-manager/issues/37

However, this is a feature that's actually present in the module. This issue would cover removing it.

Revoking a session is a conscious action that should provide a streamlined process. Confirmat

[2021-06-16 00:07] brynwhyman commented on #37
Closing this in line with @clarkepaul's comments. This isn't something that is required.

As a side note though, the functionality is already there. So I've raised https://github.com/silverstripe/silverstripe-session-manager/issues/79 to remove it.

[2021-06-16 00:07] #37 closed, assigned to nobody

[2021-06-16 00:10] brynwhyman commented on #64
Closing this issue. While a little confusing, the behaviour is expected.

[2021-06-16 00:10] #64 closed, assigned to nobody

[2021-06-16 00:11] emteknetnz commented on #79
But it is a destructive action?  I'm destroying a database record.

Maybe I want to be logged in with 2 browsers and I just misclicked the log out button?

[2021-06-16 00:11] brynwhyman commented on #10
A description is now present: https://github.com/silverstripe/silverstripe-session-manager/blob/268facc3946db16dd7836848da91656c5be20aba/composer.json#L3

[2021-06-16 00:11] #10 closed, assigned to nobody

[2021-06-16 02:38] emteknetnz commented on #23
Slack convo about how to potentially test SAML https://silverstripeltd.slack.com/archives/CLXKD9X51/p1623799823207500

[2021-06-16 03:22] michalkleiner commented on #23
Link to an internal convo probably not that useful for public eyes.

[2021-06-16 04:59] brynwhyman commented on #23
Are you interested in SSO compatibility and would like to help confirm compatibility @michalkleiner ?

Here's the snippet:

[2021-06-17 01:30] emteknetnz commented on #67
Cucumber test looks good

[2021-06-17 01:56] bergice commented on #15
There's already a https://userhelp.silverstripe.org/en/4/managing_your_website/logging_in/#lost-password section.

[2021-06-17 02:32] clarkepaul commented on #15
~~The use case was more for non CMS users using the login page (they wont realise its the login screen for the CMS itself) and viewing CMS help will be confusing and potentially alarming.~~ For example lost password doesn't make a difference if your email address isn't accepted, you need to contact the site owner.

~~We've had a few follow on convos yesterday that we think we are going to need to

[2021-06-17 21:47] #45 closed, assigned to nobody

[2021-06-17 21:47] #67 closed, assigned to maxime-rainville

[2021-06-21 00:00] maxime-rainville commented on #79
All PRs have been merged.

[2021-06-21 00:00] #79 closed, assigned to maxime-rainville

[2021-06-24 22:31] clarkepaul commented on #15
I'm happy with the docs, everything resolved from what I can tell.

[2021-06-29 22:28] bergice opened #85 "Add session-manager docs to core"
# Overview

With session-manager being included in the CMS recipe v4.9 it now makes sense to:
* move the developer docs to docs.silverstripe.org; and
* the userhelp guide outside of the 'Optional features' section in userhelp.silverstripe.org

There may also be other places that need updating in both docs resources, particularly around the "Keep me signed in" segments and Login segments.

[2021-06-29 22:29] bergice commented on #15
Closing.

Opened https://github.com/silverstripe/silverstripe-session-manager/issues/85

[2021-06-29 22:29] #15 closed, assigned to nobody

[2021-09-30 03:32] brynwhyman opened #91 "Userhelp has broken session-manager images"
PR: https://github.com/silverstripe/silverstripe-userhelp-content/pull/169

[2021-10-06 13:10] UndefinedOffset opened #92 "1.1.0 tag missing on Packagist"
It looks like Packagist didn't pickup the 1.1.0 for some reason, which is causing recipe-cms 4.9.0 to install 1.1.0-r1 of this package.

![Screenshot 2021-10-06 at 10-07-54 silverstripe session-manager - Packagist](https://user-images.githubusercontent.com/1391558/136208619-9cc1f164-ba55-49c5-9105-6e1f5f0d872d.png)

[2021-10-07 03:39] emteknetnz commented on #92
Weird. I've manually refreshed it and now 1.1.0 is showing

[2021-10-07 03:49] #92 closed, assigned to nobody

[2021-10-08 01:11] brynwhyman commented on #91
Dulicate: https://github.com/silverstripe/silverstripe-userhelp-content/issues/168

[2021-10-08 01:32] brynwhyman commented on #85
This happened in https://github.com/silverstripe/recipe-cms/issues/47

[2021-10-08 01:32] #85 closed, assigned to nobody

[2021-10-12 01:44] #91 closed, assigned to nobody

[2021-10-16 15:08] Zauberfisch opened #94 "Function block inside entwine definition does not take $ argument properly"
Usage of entwine with a namespace [apparently demeans that we accept jQuery/$ as an argument][1].
But in [SessionManagerFieldEntwine.js#L20][2] we don't accept any arguments.

From what I can tell, just adding a `$` gets rid of the warning, so should be a simple fix.

[1]: https://github.com/hafriedlander/jquery.entwine/blob/master/src/jquery.entwine.js#L323
[2]: https://github.com/silverstripe/si

[2021-11-29 10:58] lekoala commented on #94
agreed and i tried the solution (just added the $ in the bundle.js file) and it seems to work fine

[2022-01-21 10:07] dhensby commented on #94
fixed in #99

[2022-01-21 10:07] #94 closed, assigned to nobody

[2022-05-29 03:42] christopherdarling opened #110 "GDPR: Storing of IP Addresses / PI"
Because we're storing the IP address of a logged in member (not just CMS members), has GDPR compliance been considered? I would have thought we should have a warning somewhere about this new functionality, maybe even just in the changelogs so people can update their privacy policy accordingly...

## PRs
- https://github.com/silverstripe/silverstripe-framework/pull/10844/
- https://github.com/silve

[2022-07-11 09:01] micschk opened #114 "Empty translation strings cause blank output"
Not sure how string translations usually get filled with placeholder values. I'd guess translations should hold the english value untill they're translated? In this module it seems translation strings got added to existing Yaml translation files, but the translation values were left empty. This causes fields/titles etc to be blank instead of falling back to their english translation.

Eg "what's t

[2022-07-13 22:13] GuySartorelli commented on #114
Yes, that's normally how this would be done. I don't know why they're showing empty...

Do you know if this is a regression that has been introduced recently, or if it was always like this?

In either case, translation strings are handled via [transifex](https://www.transifex.com/accounts/profile/silverstripe/). If you update the strings there (to either the correct translated string, or to be the

[2022-07-13 22:21] GuySartorelli commented on #70
The labels on this module have been updated (not with cow, but still)

[2022-07-13 22:21] #70 closed, assigned to nobody

[2022-08-30 02:12] maxime-rainville commented on #110
Off the top of my head, I don't remember us pondering this question. There is a [task to periodically purge old sessions](https://github.com/silverstripe/silverstripe-session-manager#garbage-collection) ... however I'm not sure to what degree this mitigates GDPR concerns.

This modules is somewhat CMS user focus. We didn't look at how this would impact users, that don't have back end access.

If y